body {
  background-color: #44a8e2;

  margin: 2em;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: flex-start;
}