body {
  background-color: #44a8e2;

  margin: 2em;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: flex-start;
}

#focus-item {
  background-color: #3e95c7;
  padding: 1em;
}

#focus-title {
  margin: 0 auto;
  width: 90%
}

#focus-edge-vert {
  width: 40%;
}