body {
  background-color: #50b0e7;

  margin: 2em;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: flex-start;
}

ul {
  list-style-type: none;
  padding: 0;
}

#focus-item {
  background-color: #3e95c7;
  padding: 1em;
}

#focus-title {
  margin: 0 auto;
  width: 98%
}

.focus-edge-container {
  text-align: center;
  padding: 0.8% 0;
}

.focus-edge-item {
  display: inline-block;
  text-align: center;
  margin: 0 1.4%;
  padding: 4px;
  border-radius: 4px;
}

.focus-edge-vert {
  background-color: rgb(98, 224, 165); 
  border: 1px solid blue;    
  width: 34%;
}

.btn-cancel {
  background-color: rgb(214, 16, 49); 
  border: 1px solid rgb(54, 33, 48);    
  color: white;
  width: 10%;
}